@page "/"

<MudItem Class="mb-4 mt-2">
    <MudText Typo="Typo.h4">Raças de cães</MudText>
</MudItem>

@if (loading)
{
    <MudItem>
        <MudProgressLinear Color="Color.Info" Indeterminate="true" Class="my-7" />
    </MudItem>
}
else
{
    @if (isVisible)
    {
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudItem Class="mb-4">
                <MudAutocomplete 
                    T="string"
                    SearchFunc="@Search"
                    Value="@selectedBreedName"
                    ValueChanged="(string n) => onChangeBreedName(n)"
                    Variant="Variant.Outlined"
                    Margin="Margin.Dense"
                    MaxItems="null"
                    Placeholder="Selecione uma raça"
                    Clearable />
            </MudItem>

            <MudGrid Spacing="6" Justify="Justify.Center">
                @foreach (var breedsDog in displayedBreedsDogs)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudCard Style="width: auto">
                            <MudCardMedia Image="@breedsDog.Image.Url" Height="200" />
                            <MudCardContent>
                                <MudText Typo="Typo.h5">@breedsDog.BreedName</MudText>
                                <MudText Typo="Typo.body2"><span>Origen:</span> @breedsDog.Origin</MudText>
                                <MudText Typo="Typo.body2"><span>Criado para:</span> @breedsDog.BredFor</MudText>
                                <MudText Typo="Typo.body2"><span>Temperamento:</span> @breedsDog.Temperament</MudText>
                                <MudText Typo="Typo.body2"><span>Estimativa de vida:</span> @breedsDog.LifeSpan</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                            </MudCardActions>
                        </MudCard>
                    </MudItem> 
                }
            </MudGrid>
        </MudContainer>

    }
    else
    {
        <MudItem>
            <MudText Typo="Typo.h4">Nenhum dado foi encontrado!</MudText>
        </MudItem>
    }


}