@page "/breedsDogs"


<h1>Raças de cães</h1>

@if (loading)
{
    <div style="height: 80vh; display: flex; justify-content: center; align-items: center;">
        <span class="loader"></span>
    </div>
}
else
{
    @if (isVisible)
    {

        <div class="header">
            @* <input type="text" @bind="breedName" /> *@
            <select @bind="selectedBreedId" class="form-select">
                <option value="0">Todas as raças</option>
                @if (breedsDogs != null)
                {
                    @foreach(var breeds in breedsDogs)
                    {
                        <option value="@breeds.Id">@breeds.BreedName</option>
                    }
                }

            </select>
            <button @onclick="GetBreedDog">Pesquisar</button>
        </div>

        <div class="container">
            <div class="cards">
                @foreach (var breedsDog in breedsDogs)
                {
                    <article class="card-article">
                        <img src="@breedsDog.Image.Url" alt="Descrição da imagem">
                        <div class="card-content">
                            <h4>@breedsDog.BreedName</h4>
                            <p><span>Origen:</span> @breedsDog.Origin</p>
                            <p><span>Criado para:</span> @breedsDog.BredFor</p>
                            <p><span>Temperamento:</span> @breedsDog.Temperament</p>
                            <p><span>Estimativa de vida:</span> @breedsDog.LifeSpan</p>
                        </div>
                    </article>
                }
            </div>
        </div>

    }
    else
    {
        <div>
            <p>Nenhum dado foi encontrado!</p>
        </div>
    }


}