@page "/"


<MudText Typo="Typo.h4">Raças de cães</MudText>

@if (loading)
{
    <div style="height: 80vh; display: flex; justify-content: center; align-items: center;">
        <span class="loader"></span>
    </div>
}
else
{
    @if (isVisible)
    {
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudItem>

                <MudAutocomplete 
                    T="string"
                    SearchFunc="@Search"
                    Value="@selectedBreedName"
                    ValueChanged="(string n) => onChangeBreedName(n)"
                    Variant="Variant.Outlined"
                    Margin="Margin.Dense"
                    MaxItems="null"
                    Placeholder="Selecione uma raça"
                    Clearable />
            </MudItem>

            <MudItem>
                <div class="cards">
                    @foreach (var breedsDog in displayedBreedsDogs)
                    {
                        <article class="card-article">
                            <img src="@breedsDog.Image.Url" alt="Descrição da imagem">
                            <div class="card-content">
                                <h4>@breedsDog.BreedName</h4>
                                <p><span>Origen:</span> @breedsDog.Origin</p>
                                <p><span>Criado para:</span> @breedsDog.BredFor</p>
                                <p><span>Temperamento:</span> @breedsDog.Temperament</p>
                                <p><span>Estimativa de vida:</span> @breedsDog.LifeSpan</p>
                            </div>
                        </article>
                    }
                </div>
            </MudItem>
        </MudContainer>

    }
    else
    {
        <div>
            <p>Nenhum dado foi encontrado!</p>
        </div>
    }


}