@page "/breedsDogs"

<h1>Raças de cães</h1>

@if (breedsDogs.Count == 0)
{
    <p><em>Carregando...</em></p>
}
else
{
    <div class="cards">
        <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
               <article class="card-article">
            <img src="Seiya.png" alt="Descrição da imagem">
            <div class="card-content">
                <h2>Raça do cão</h2>
                <p>Origen: @teste</p>
                <p>Criado para:</p>
                <p>Temperamento:</p>
                <p>Estimativa de vida:</p>
            </div>
        </article
    </div>


}